#red_text {
  color: #ff0000;
}

.text-center {
    text-align: center;
}

.blue-background {
    background-color: #0000ff;
    height: 500px;
    width: 500px;
}

.green-background {
  background-color: green;
  height: 500px;
  width: 500px;
}
